<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js說明表</title>
</head>

<body>
  <p>Vue、React、Angular，都是用數據來驅動內容</p>

  <p>new：新增(複製)，新增一個空白的veu。</p>
  <p>el：元素，element的縮寫，要在哪個div範圍內擁有(執行)Vue.js的功能。</p>
  <p>data：資料、數據，數據存放的地方</p>
  <p>
    message：
    {{ }}：綁定數據，綁定裡面相對應的內容並顯示出來
  </p>
  <p>template：樣板、模板</p>
  <p>v-if：如果內容是true的時候才會顯示出來，false就會隱藏起來不顯示Vue 的 if 功能配上 ="loading"，裝載上if是true時的內容。例如：" < div v-if="loading">訊息載入錯誤< /div> "</p>
<p>v-if="loading"：裝載v-if的功能，如果內容是true的時候才會顯示出來，false就會隱藏起來不顯示</p>
<p>v-show="loading"：要不要在html顯示出來，false的話不顯示</p>
<p>v-model：即時更新message的內容</p>
<p>v-for：for迴圈，利用v-for="abc(←可自定義) in colors(要抓的資料庫名稱)"，抓出資料庫陣列的所有資料並全部顯示出來，例如資料庫設為colors:['black','red','blue']<br>如果陣列裡面有兩個以上的分類，那就加上分類的名稱，如{{abc.home1}}，就會針對home1裡的資料顯示出來</p>
<p>v-on：各種監聽功能，縮寫符號：「 @ 」</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


</body>

</html>